<% content_for(:title, "Sanctuary Info | Sanctuary Times Finder") %>


<h1> <%= @sanctuary.name %> </h1>
<h4> <%= @sanctuary.address %></h4>

<br />
<br />

<p><%= link_to "Return to Sanctuary Index", sanctuaries_path %></p>

<br />
<br />


<h4>Edit <%= @sanctuary.name %>:</h4>
<%= render 'form' %>
<br />
<p><%= link_to "Delete #{@sanctuary.name}", sanctuary_path(@sanctuary),
  :data => {:confirm => "You sure?",
            :method => "delete"},
  :class => "btn btn-danger" %></p>
