<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="user_header", class="text-right">
      <% if current_user %>
        Logged in as <strong><%= current_user.username %></strong>
      <% else %>
        <%= link_to "Sign Up", new_user_path %> or
        <%= link_to "Log In", new_session_path %>
      <% end %>
    </div>

    <h1>Sanctuary Time Finder</h1>
    <p class="bg-primary"><%= flash[:notice] %></p>
    <%= flash[:alert] %>
    <%= yield %>
  </div>
</body>
</html>
